# IntelliJ related
*.iml
*.ipr
*.iws
**/.idea/

# VSCode related
**/.vscode/

# Miscellaneous
**/.DS_Store

# Dart related
**/.dart_tool/
**/pubspec_overrides.yaml
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

# Node.js related
node_modules/

# bun related
bun.lock
