# Dart
**/.dart_tool/
**/pubspec_overrides.yaml

# IntelliJ related
*.iml
*.ipr
*.iws
**/.idea/

# VSCode related
**/.vscode/

# Miscellaneous
**/.DS_Store

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
